/* ---------- Základné štýly ---------- */
header {
    background-image: url(header-background.jpg);
}
body {
    background-image: url(header-background.jpg);
    margin: 0;
    user-select: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* ---------- Navigačná lišta (navbar) ---------- */
.list {
    margin: 0px;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.item {
    list-style: none;
    margin-right: 3rem;
    cursor: pointer;
}
.item:first-child {
    margin-right: auto;
    margin-left: 1.3rem;
}
.itemImg {
    margin-right: auto;
    margin-left: 1.3rem;
}
.list li {
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.list li:hover {
    color: chartreuse;
    transition: color 0.2s ease-in-out;
}
/* ---------- Burger Menu ---------- */
.burger {
    cursor: pointer;
    font-size: 40px;
    color: white;
    display: flex;
    visibility: collapse;
    margin-right: 2rem;
    margin-top: -10px;
    position: absolute;
}
.burgerList {
    display: none;
}
/* ---------- 1 ---------- */
#list1 {
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 40px;
    margin-right: 30px;
    margin-top: 28px;
    transition: transform 0.5s ease-in-out;
}
#hey1 {
    font-weight: bold;
    margin-top: 15px;
}
#hou1 {
    margin-top: 50px;
    margin-left: -60px;
}
/* ---------- 2 ---------- */
#list2 {
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 40px;
    margin-right: 30px;
    margin-top: 28px;
    transition: transform 0.5s ease-in-out;
}
#hey2 {
    font-weight: bold;
    margin-top: 15px;
}
#hou2 {
    margin-top: 50px;
    margin-left: -60px;
}
/* ---------- 3 ---------- */
#list3 {
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 40px;
    margin-right: 30px;
    margin-top: 28px;
    transition: transform 0.5s ease-in-out;
}
#hey3 {
    font-weight: bold;
    margin-top: 15px;
}
#hou3 {
    margin-top: 50px;
    margin-left: -60px;
}
/* ---------- 4 ---------- */
#list4 {
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 40px;
    margin-right: 30px;
    margin-top: 28px;
    transition: transform 0.5s ease-in-out;
}
#hey4 {
    font-weight: bold;
    margin-top: 15px;
}
#hou4 {
    margin-top: 50px;
    margin-left: -60px;
}
/* ---------- 5 ---------- */
#list5 {
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 40px;
    margin-right: 30px;
    margin-top: 28px;
    transition: transform 0.5s ease-in-out;
}
#hey5 {
    font-weight: bold;
    margin-top: 15px;
}
#hou5 {
    margin-top: 50px;
    margin-left: -60px;
}
/* ---------- Zdieľané štýly (classes) ---------- */
.wsList {
    background: white;
    width: 550px;
    height: 100px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 5px;
}
.hey {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.short_description {
    width: 300px;
}
.list_item_holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    margin-right: 71px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sens_style_heat {
    grid-area: senzory;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.wsImg {
    border-radius: 10px;
    margin-right: auto;
}
.mystyle {
    transform: rotate(180deg);
}
.appear {
    display: flex;
}
.arrow {
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 40px;
    margin-right: 30px;
    margin-top: 28px;
    transition: transform 0.5s ease-in-out;
}
/* ---------- Grid Layout ---------- */
.obrazok_small {
    grid-area: obrazok;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px; 
    height: 100px; 
    margin-left: 25px;
    border-radius: 10px;
    transition: display 1s 1s;
}
.obrazok_big { 
    grid-area: obrazok;
    width: 400px;
    height: 300px;
    margin-left: 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.text_small { 
    grid-area: description;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25px;
}
.text_big {
    grid-area: description;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25px;
}
.sensors_small {
    width: 140px; 
    grid-area: senzory;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sensors_big {
    grid-area: senzory;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info_small { 
    grid-area: info; 
}
.info_big {
    grid-area: info; 
}
.listHide {
    display: none;
}
.expand {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "obrazok senzory"
      "description info";
    margin-top: 2px;
    margin-left: 20px;
    margin-bottom: 2px;
    border-radius: 10px;
    height: 600px;
    width: 550px;
    background-color: white;
}
.big {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "obrazok senzory"
      "description info";
    position: absolute;
    border-radius: 10px;
    margin-top: -12px;
    left: 650px;
    top: 117px;
    height: 700px;
    width: 900px;
    background: royalblue;
    align-items: center;
}
.appear {
    display: flex;
}
.imgBig {
    margin-left: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.wsImg {
    width: 500px;
    height: 350px;
}
/* ---------- Responzívnosť (media tag) ---------- */
@media (max-width: 1550px) {
    .obrazok_big {
        width: 400px;
        height: 250px;
    }
    .big {
        width: 800px;
        height: 600px;
    }
}
@media (max-width: 1450px) {
    .obrazok_big {
        width: 350px;
        height: 200px;
    }
    .big {
        width: 700px;
        height: 500px;
    }
}
@media (max-width: 1350px) {
    .big {
        display: none;
    }
}
@media (max-width: 800px) {
    .item {
        display: none;
    }
    .burger {
        visibility: visible;
    }
    .burgerList {
        flex-direction: column;
        align-items: center;
        margin-right: 30px;
        margin-top: 0px;
        color: white;
        list-style: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }
    .bItem {
        margin-top: 10px;
    }
    
}
@media (max-width: 570px) {
    .wsList {
        background: white;
        width: 500px;
        height: 100px;
        border-radius: 10px;
        margin-left: 0px;
        margin-top: 5px;
    }
    .wsImg {
        width: 120px;
        border-radius: 10px;
        margin-right: auto;
    }
    .title0 {
        font-size: 15px;
    }
    .short_description {
        font-size: 15px;
    }
    .list_item_holder {
        margin-right: 20px;
    }
    #arrow0 {
        margin-top: 30px;
        font-size: 40px;
        width: 40px;
        height: 40px;
    }
    .expand {
        margin-left: 0px;
        width: 500px;
        height: 550px;
    }
}
@media (max-width: 360px) and (max-height: 640px) {
    .wsList {
        background: white;
        width: 360px;
        height: 100px;
        border-radius: 10px;
        margin-left: 0px;
        margin-top: 5px;
    }
    .list_item_holder {
        margin-right: -10px;
    }
}