/* ---------- Základné štýly ---------- */
header {
    background-image: url(header-background.jpg);
}
body {
    background-image: url(header-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    user-select: none;
}
/* ---------- Navigačná lišta (navbar) ---------- */
.list {
    margin: 0px;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.item {
    list-style: none;
    margin-right: 3rem;
    cursor: pointer;
}
.item:first-child {
    margin-right: auto;
    margin-left: 1.3rem;
}
.itemImg {
    cursor: pointer;
    margin-right: auto;
    margin-left: 1.3rem;
}
.list li {
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.list li:hover {
    color: rgba(255, 255, 255, 0.418);
    transition: color 0.2s ease-in-out;
}
.wsImg {
    border-radius: 10px;
}
.wsImg:first-child {
    margin-right: auto;
}
/* ---------- Burger Menu ---------- */
.burger {
    cursor: pointer;
    font-size: 40px;
    color: white;
    display: flex;
    visibility: collapse;
    margin-right: 2rem;
    margin-top: -10px;
    position: absolute;
}
.burgerList {
    display: none;
}
@media (max-width: 800px) {
    #githubImg {
        display: none;
    }
    .item {
        display: none;
    }
    .burger {
        visibility: visible;
    }
    .burgerList {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-right: 30px;
        margin-top: 0px;
        color: white;
        list-style: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }
    .bItem {
        margin-top: 10px;
    }
    .appear {
        display: flex;
    }
}
/* ---------- Hlavná stránka ---------- */
#downloadHolder {
    margin-top: 10px;
    margin-left: 35%;
    display: flex;
    justify-content: space-between;
    width: 550px;
    align-items: center;
    
}
#appDownload {
    cursor: pointer;
    background-color: none;
    color: white;
    border: 4px white solid;
    border-radius: 50px;
    margin-right: 0px;
    width: auto;
    height: 30px;
    padding: 10px;
    position: static;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}
#appDownload:hover {
    background-color: white;
    color: rgb(47, 40, 150) ;
}
#phoneImg {
    width: 350px;
    height: auto;
}
#conHolder {
    width: 500px;
    height: 500px;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/* ---------- O projekte ---------- */
#projectInfo {
    position: absolute;
    top: 250px;
    left: 450px;
    background-color: rgba(255, 255, 255, 0.322);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    width: 470px;
    height: auto;
    font-size: 40px;
}